.c-tab-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: var(--s-sm);
  & + * {
    margin-block-start: var(--s-2xl);
  }
  button {
    font-size: var(--fz-md);
    color: var(--sub-color);
    border: 2px solid currentColor;
    border-radius: 50%;
    width: 2em;
    height: 2em;
    transition: all 0.3s ease-in-out;
    &.active,
    &:hover {
      color: var(--white);
      background-color: var(--sub-color);
      border-color: var(--sub-color);
    }
    &:not(.assigned) {
      opacity: 0.3;
    }
  }
}
